# ignore all logs
*.git

# ignore stuff folders
mug

# ignore Vivado subfolders
Vivado/*
# but NOT xpr file
!Vivado/*.xpr

# ignore Local folder
Local/*

# Ignore any files with DRAFT suffix
*DRAFT* 

# Ignore Word temporary documents
*~$*.doc*
